.root{
    -fx-background-color: #383838;
    -fx-font-size: 11pt
}
.label{
    -fx-text-fill: #efafe8;
}
.button{
    -fx-background-color: linear-gradient(#dc4642,#ab4686);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
}
.button-blue{
    -fx-background-color: #70AFC2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 9;
}
#bold-label{
    -fx-font-weight: bold;
}